/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat+Brush&family=DM+Serif+Text:ital@0;1&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Special+Gothic+Condensed+One&display=swap");
@import url(https://db.onlinewebfonts.com/c/024b66f888ef4264a56e89e2ae320e69?family=Dharma+Gothic+C+W01+Heavy);

#time {
    border: 1.3rem solid #ed2028;
    position: relative;
    overflow: visible;

    .mag-cover-img {
        width: calc(500px - 2.6rem);
        height: calc(625px - 2.6rem);
    }

    .mag-cover-logo {
        align-items: center;
        margin: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .mag-cover-logo object {
        width: 70%;
        opacity: 0.5;
    }

    .mag-cover-text {
        top: 360px;
        align-items: end;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
    }

    .mag-cover-text > * {
        text-shadow: 0px 1px 13px black;
        width: 55%;
    }

    .mag-cover-text .text-artist {
        font-weight: 100;
        font-size: 16px;
        font-variant: small-caps;
        font-family: "Source Serif 4", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .mag-cover-text .text-headline {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        white-space: normal;
        overflow: hidden;
        text-overflow: initial;
        max-width: none;
    }

    .mag-cover-logo span {
        color: black;
        position: absolute;
        top: -1.6rem;
        text-transform: uppercase;
        font-size: 7px;
        font-weight: 900;
        letter-spacing: 1px;
        text-shadow: 0px 1px 13px black;
    }
}

#time::after {
    background: none;
    border: 0.4rem solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#forbes {
    position: relative;

    .mag-cover-logo {
        align-items: center;
        margin: 0;
        margin-top: 4rem;
        width: 100%;
    }

    .mag-cover-logo object {
        width: 60%;
    }

    .mag-cover-logo::after {
        content: "MONTHLY ISSUE";
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        position: absolute;
        font-size: 9px;
        top: -64px;
        width: 70px;
        height: 59px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ef1a24;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .mag-cover-text {
        bottom: 11px;
        min-height: 300px;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: end;
        top: auto;
    }

    .mag-cover-text > * {
        width: 59%;
    }

    .mag-cover-text .text-artist {
        font-family: "Josefin Sans", sans-serif;
        font-size: 10px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        position: absolute;
        top: -30px;
        text-align: end;
        right: 2rem;
        max-width: max-content;
    }

    .mag-cover-text .text-artist::before {
        content: "Music";
        position: absolute;
        font-family: "Josefin Sans", sans-serif;
        top: -1.2rem;
        text-align: center;
        width: 100%;
        font-weight: 300;
        text-transform: capitalize;
        letter-spacing: 0.05rem;
        font-size: 13px;
    }

    .mag-cover-text .text-artist::after {
        content: "";
        position: absolute;
        width: 75%;
        height: 1px;
        background: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        top: 1rem;
    }

    .mag-cover-text .text-headline {
        font-family: "Imbue", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 65px;
        white-space: normal;
        text-transform: uppercase;
        text-overflow: initial;
        max-width: none;
        line-height: 0.8;
        overflow: inherit;
    }

    .mag-cover-logo span {
        color: #fff;
        position: absolute;
        right: 1rem;
        bottom: -560%;
        text-transform: capitalize;
        font-size: 6px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 13px black;
        text-align: end;
    }
}

#variety {
    position: relative;

    .mag-cover-logo {
        align-items: center;
        margin: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .mag-cover-logo object {
        width: 55%;
        mix-blend-mode: hard-light;
    }

    .mag-cover-text {
        bottom: 0;
        top: auto;
        align-items: flex-start;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0rem;
        min-height: 253px;
        max-height: fit-content;
        justify-content: flex-end;
    }

    .mag-cover-text > * {
        width: 64%;
    }

    .mag-cover-text .text-artist {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 60px;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        word-wrap: break-word;
        padding-left: 1rem;
        text-indent: -1rem;
    }

    .mag-cover-text .text-headline {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        white-space: normal;
        overflow: hidden;
        text-overflow: initial;
        max-width: none;
        letter-spacing: 2px;
        padding: 3px 2rem;
    }

    .mag-cover-logo span {
        font-family: "Inter", sans-serif;
        color: #fff;
        position: absolute;
        left: 1rem;
        top: -1rem;
        text-transform: uppercase;
        font-size: 6px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 13px black;
    }
}

#harpers-bazaar {
    font-family: "Bodoni Moda", serif;
    position: relative;

    .mag-cover-logo {
        align-items: center;
        width: 94%;
        margin: 3%;
    }

    .mag-cover-text {
        bottom: 0;
        top: auto;
        align-items: flex-end;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
        min-height: 253px;
        max-height: fit-content;
        text-transform: uppercase;
    }

    .mag-cover-text > * {
        width: 100%;
    }

    .mag-cover-text .text-artist {
        font-weight: 300;
        position: absolute;
        font-size: 34px;
        top: -43%;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        word-wrap: break-word;
        text-align: center;
        width: 33%;
        text-transform: initial;
    }

    .mag-cover-text .text-artist::before {
        content: "MUSIC ISSUE by";
        position: absolute;
        top: -1.1rem;
        right: 0;
        width: 100%;
        font-weight: 100;
        font-size: 15px;
    }

    .mag-cover-text .text-headline {
        font-weight: 500;
        font-style: normal;
        font-size: 60px;
        white-space: normal;
        overflow: hidden;
        text-overflow: initial;
        max-width: none;
        text-align: left;
    }

    .mag-cover-logo span {
        font-family: "Satoshi Variable", serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 6.5px;
        text-shadow: 0px 1px 13px black;
        font-weight: 300;
    }
}

#elle {
    font-family: "Josefin Sans", sans-serif;
    position: relative;

    .mag-cover-logo {
        align-items: center;
        width: 90%;
        margin: 5%;
    }

    .mag-cover-text {
        bottom: 0;
        top: auto;
        align-items: flex-end;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
        min-height: 253px;
        max-height: fit-content;
        text-transform: uppercase;
    }

    .mag-cover-text > * {
        width: 50%;
    }

    .mag-cover-text .text-artist {
        font-weight: 200;
        position: absolute;
        font-size: 60px;
        left: 5%;
        top: -2rem;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        word-wrap: break-word;
        text-align: left;
        letter-spacing: -6pt;
        line-height: 0.8;
        min-width: 30%;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }

    .mag-cover-text .text-artist::before {
        content: "THE\aMUSIC\aISSE";
        white-space: pre-wrap;
        position: absolute;
        top: -4.3rem;
        right: 0;
        width: 100%;
        font-weight: 100;
        font-size: 25px;
        letter-spacing: -2px;
    }

    .mag-cover-text .text-headline {
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        white-space: normal;
        text-overflow: initial;
        max-width: none;
        text-align: right;
        word-wrap: break-word;
        line-height: 0.8;
        letter-spacing: -2px;
        padding-top: 1rem;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }

    .mag-cover-logo span {
        color: #fff;
        text-transform: uppercase;
        font-size: 8px;
        text-shadow: 0px 1px 13px black;
        font-weight: 400;
    }
}

#v {
    font-family: "Dharma Gothic C W01 Heavy", "Special Gothic Condensed One", sans-serif;
    position: relative;

    .mag-cover-logo {
        width: 100%;
        height: auto;
        padding: 3.5%;
        margin: 0;
        margin-top: -2.5%;
    }

    .logo-blend-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        opacity: 0.75;
    }

    .logo-blend-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }

    .logo-blend-wrapper .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: normal; /* Or try overlay, color, hue, screen */
        opacity: 1; /* Adjust as needed */
        z-index: 2;
        mask-image: url("../imgs/logos/v.png");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        -webkit-mask-image: url("../imgs/logos/v.png");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;

        pointer-events: none;
    }

    .mag-cover-text {
        bottom: 0;
        top: auto;
        align-items: flex-end;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
        min-height: 253px;
        max-height: fit-content;
        text-transform: uppercase;
    }

    .mag-cover-text > * {
        width: 50%;
    }

    .mag-cover-text .text-artist {
        font-weight: 200;
        font-size: 36px;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        word-wrap: break-word;
        text-align: right;
        line-height: 0.72;
        min-width: 15%;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }

    .mag-cover-text .text-artist::before {
        content: "STARRING\a";
        white-space: pre-wrap;
        width: 100%;
        font-weight: 100;
        font-size: 30px;
    }

    .mag-cover-text .text-headline {
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
        white-space: normal;
        text-overflow: initial;
        max-width: none;
        text-align: right;
        word-wrap: break-word;
        line-height: 0.72;
        padding-top: 1rem;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }

    .mag-cover-logo span {
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        text-shadow: 0px 1px 36px black;
        font-weight: 100;
        position: absolute;
        bottom: 5%;
    }
}

#flaunt {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    position: relative;

    .mag-cover-logo {
        margin: -10% 0 0 0;
        width: 100%;
    }

    .mag-cover-text {
        align-items: left;
        text-align: center;
        gap: 1px;
        line-break: auto;
        word-wrap: break-word;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        overflow: unset;
        min-width: 100%;
        display: flex;
        position: absolute;
        bottom: 0;
        top: unset;
        min-height: max-content;
    }

    .mag-cover-text .text-artist {
        font-weight: 400;
        font-size: 18px;
        word-break: break-word;
        text-align: center;
        line-height: 0.7;
        min-width: 100%;
        width: min-content;
        white-space: normal;
        text-transform: uppercase;
        letter-spacing: 0;
        position: relative;
    }

    .mag-cover-text .text-headline {
        font-weight: 300;
        font-size: 13px;
        font-style: italic;
        text-align: center;
        white-space: normal;
        word-break: auto-phrase;
        line-height: 1;
        min-width: 100%;
        width: min-content;
        text-transform: capitalize;
        z-index: 2;
        position: relative;
    }

    .mag-cover-logo span {
        color: white;
        text-transform: uppercase;
        font-size: 6px;
        font-weight: 400;
        position: absolute;
        bottom: -455px;
        rotate: 90deg;
        left: -20px;
        letter-spacing: 1px;
        z-index: 3;
        text-shadow: 0px 0px 6px black;
        text-align: end;
        width: fit-content;
    }
}

#dork {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    position: relative;

    .mag-cover-logo {
        margin: -6px 0 0 0;
        width: 102%;
    }

    .mag-cover-logo::after {
        content: "DOWN WITH BORING\a";
        white-space: pre-wrap;
        line-height: 0.4 !important;
        color: white;
        text-transform: uppercase;
        font-size: 6px;
        font-weight: 400;
        position: absolute;
        bottom: -5px;
        left: 5%;
        letter-spacing: 1px;
        z-index: 3;
        text-shadow: 0px 0px 6px black;
        text-align: start;
    }

    .mag-cover-logo::before {
        content: "*SUPER SIZED DOUBLE ISSUE**   THE MUSIC YOU NEED  UNSEEN PHOTOS   UNPUBLISHED INTERVIEWS  ***LOADS MORE*";
        white-space: pre-wrap;
        line-height: 0.4 !important;
        color: white;
        text-transform: uppercase;
        font-size: 6px;
        font-weight: 700;
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        margin: auto;
        letter-spacing: 1px;
        z-index: 3;
        text-align: center;
    }

    .mag-cover-text {
        align-items: center;
        text-align: center;
        gap: 0;
        line-break: auto;
        word-wrap: break-word;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        overflow: unset;
        min-width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 10%;
        top: unset;
        min-height: max-content;
    }

    .mag-cover-text .text-artist {
        font-family: "Big Shoulders", sans-serif;
        font-weight: 900;
        font-size: 102px;
        line-break: auto;
        word-wrap: break-word;
        word-break: break-word;
        text-align: center;
        line-height: 0.7;
        min-width: 80%;
        width: min-content;
        white-space: normal;
        text-transform: capitalize;
        letter-spacing: -5px;
        position: relative;
    }

    .mag-cover-text .text-headline {
        font-weight: 500;
        font-size: 10px;
        text-align: center;
        white-space: normal;
        word-break: auto-phrase;
        line-height: 1;
        min-width: 70%;
        width: min-content;
        text-transform: uppercase;
        word-spacing: 2rem;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mag-cover-logo span {
        color: white;
        text-transform: uppercase;
        font-size: 6px;
        font-weight: 400;
        position: absolute;
        bottom: -8px;
        right: 5%;
        letter-spacing: 1px;
        z-index: 3;
        text-shadow: 0px 0px 6px black;
        text-align: end;
    }

    .mag-cover-logo span::after {
        content: " • READDORK.COM";
    }

    .mag-cover-logo span::before {
        content: "MUSIC ISSUE • ";
    }
}

#genevieve {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    .mag-cover-logo {
        margin: 0;
        margin-left: 15px;
        margin-top: 10px;
        width: 100%;
    }

    .logo-blend-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .logo-blend-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }

    .logo-blend-wrapper .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mask-image: url("../imgs/logos/genevieve.png");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        -webkit-mask-image: url("../imgs/logos/genevieve.png");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;

        pointer-events: none;
    }

    .mag-cover-text {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        top: 411px;
        max-width: 100%;
        left: auto;
        padding: 0 5%;
        text-align: center;
    }

    .mag-cover-text .text-artist {
        font-size: 44px;
        letter-spacing: -2px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;
        line-break: loose;
    }

    .mag-cover-text .text-headline {
        font-family: "Satoshi-Variable", serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 19px;
    }

    .mag-cover-logo {
        line-height: 1;
        letter-spacing: 1px;
        gap: 0.6rem;
    }

    .mag-cover-logo span::before {
        content: "GENEVIEVE MAGAZINE \a";
        white-space: pre-wrap;
    }

    .mag-cover-logo span {
        font-size: 8px;
        color: black;
        margin-left: 23px;
        margin-top: 390px;
    }

    .mag-cover-logo span::after {
        content: " Issue \a genevieve.com";
        white-space: pre-wrap;
    }
}

#pop-magazine {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;

    .mag-cover-logo {
        width: 248px;
        height: auto;
        margin: 30px;
    }

    .logo-blend-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .logo-blend-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }

    .logo-blend-wrapper .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten; /* Or try overlay, color, hue, screen */
        opacity: 0.8; /* Adjust as needed */
        z-index: 2;
        mask-image: url("../imgs/logos/pop-magazine.png");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        -webkit-mask-image: url("../imgs/logos/pop-magazine.png");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;

        pointer-events: none;
    }

    .mag-cover-text {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        top: 530px;
    }

    .mag-cover-text > * {
        text-align: center;
    }

    .mag-cover-text .text-artist {
        font-size: 20px;
        font-weight: 900;
    }

    .mag-cover-text .text-headline {
        font-size: 11px;
        padding-top: 0.6rem;
        font-weight: 300;
    }

    .mag-cover-logo {
        line-height: 1;
        letter-spacing: 1px;
        gap: 0.6rem;
    }

    .mag-cover-logo span::before {
        content: "POP MAGAZINE \a";
        white-space: pre-wrap;
    }

    .mag-cover-logo span {
        font-size: 8px;
        color: white;
        line-height: 1;
    }

    .mag-cover-logo span::after {
        content: " Issue \a +100 Pages";
        white-space: pre-wrap;
    }
}

#ok {
    font-family: "Special Gothic Condensed One", sans-serif;
    position: relative;

    .mag-cover-logo {
        width: 39%;
        height: auto;
    }

    .mag-cover-text {
        top: 18.5%;
        align-items: flex-start;
        text-align: left;
        gap: 0.5rem;
        min-height: 253px;
        max-height: fit-content;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px black;
    }

    .mag-cover-text > * {
        width: 50%;
    }

    .mag-cover-text .text-artist {
        font-weight: 200;
        font-size: 40px;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        word-wrap: break-word;
        text-align: left;
        line-height: 0.8;
        min-width: 25%;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }

    .mag-cover-text .text-artist::before {
        content: "EXCLUSIVE\a";
        white-space: pre-wrap;
        width: 100%;
        font-weight: 100;
        font-size: 18px;
        line-height: 1.4;
        color: #fce816;
        letter-spacing: 1px;
    }

    .mag-cover-text .text-headline {
        font-weight: 500;
        font-style: normal;
        font-size: 40px;
        font-optical-sizing: auto;
        font-style: normal;
        line-break: auto;
        white-space: normal;
        text-overflow: initial;
        max-width: none;
        text-align: left;
        word-wrap: break-word;
        line-height: 0.8;
        min-width: 25%;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
        letter-spacing: 1px;
        overflow: unset;
    }

    .mag-cover-logo span {
        color: #fff;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 600;
        position: absolute;
        bottom: 5%;
        left: 5%;
        letter-spacing: 1px;
    }

    .mag-cover-logo span::after {
        content: " • £3.60";
    }
}

#eres {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    position: relative;

    .mag-cover-logo {
        width: 82%;
        height: auto;
        margin: 2% 8%;
    }

    .logo-blend-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .logo-blend-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }

    .logo-blend-wrapper .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: difference; /* Or try overlay, color, hue, screen */
        opacity: 1; /* Adjust as needed */
        z-index: 2;
        mask-image: url("../imgs/logos/eres.png");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        -webkit-mask-image: url("../imgs/logos/eres.png");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;

        pointer-events: none;
    }

    .mag-cover-text {
        align-items: flex-start;
        text-align: left;
        gap: 0.5rem;
        height: 100%;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        line-break: auto;
        word-wrap: break-word;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
        overflow: unset;
        min-width: 100%;
    }

    .mag-cover-text .text-artist {
        font-family: "Caveat Brush", cursive;
        position: absolute;
        bottom: 4%;
        left: 0;
        right: 0;
        margin: auto;
        rotate: 356deg;
        font-weight: 200;
        font-size: 83px;
        line-break: auto;
        word-wrap: break-word;
        word-break: break-word;
        text-align: center;
        line-height: 0.8;
        min-width: 80%;
        width: min-content;
        white-space: normal;
    }

    .mag-cover-text .text-artist::before {
        content: "ENTREVISTA EXCLUSIVA\a";
        white-space: pre-wrap;
        width: 100%;
        font-weight: 100;
        font-size: 18px;
        line-height: 0.4 !important;
        color: var(--Off-white);
        letter-spacing: 1px;
        background-color: var(--Purple);
        padding: 1px 1rem;
    }

    .mag-cover-text .text-headline {
        position: absolute;
        top: 51%;
        left: 8%;
        rotate: 352deg;
        font-weight: 900;
        font-size: 10px;
        text-align: center;
        white-space: normal;
        word-break: auto-phrase;
        line-height: 1;
        min-width: 19%;
        width: min-content;
        background-color: #f9f251;
        padding: 9px 7px;
    }

    .mag-cover-logo span {
        color: black;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 600;
        position: absolute;
        bottom: 86%;
        left: 75%;
        letter-spacing: 1px;
        z-index: 3;
        text-shadow: 0px 0px 5px white;
    }

    .mag-cover-logo span::after {
        content: "";
    }
}
